PORT=3000
NODE_ENV=development
AUTH_SERVICE_URL=http://auth-service:3001
USER_SERVICE_URL=http://user-service:3002
ROLE_SERVICE_URL=http://role-service:3003
DEPARTMENT_SERVICE_URL=http://department-service:3004
RESOURCE_SERVICE_URL=http://resource-service:3005
TRANSACTION_SERVICE_URL=http://transaction-service:3006
NOTIFICATION_SERVICE_URL=http://notification-service:3007
REPORT_SERVICE_URL=http://report-service:3008
DASHBOARD_SERVICE_URL=http://dashboard-service:3009

